@model Pickup_Entity.Product

<table style="border: 1px solid black; width:400px;" align="center">
    <thead>
        <tr>
            <th>@Html.ActionLink(Model.ProductName , "ProductDetails", "Admin", new { id = Model.Id }, null)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Price: @Model.Price</td>
            <td colspan="3" valign="middle" align="right">@Html.ActionLink("Details", "ProductDetails", "Admin", new { id = Model.Id }, new { @class = "btn btn-primary btn" })</td>
        </tr>
        <tr>
            <td>Seller: @Model.SellerName</td>
        </tr>
        <tr>
            <td>Catagory: @Model.CatagoryName</td>
        </tr>
    </tbody>
</table>

