@model Pickup_Entity.User

<table style="border: 1px solid black; width:400px;" align="center">
    <thead>
        <tr>
            <th>@Html.ActionLink(Model.FirstName+" "+Model.LastName, "SellerDetails", "Admin", new { id = Model.Id}, null)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Phone: @Model.Phone</td>
            <td colspan="3" valign="middle" align="right">@Html.ActionLink("Details", "SellerDetails", "Admin", new { id = Model.Id }, new { @class = "btn btn-primary btn"})</td>
        </tr>
        <tr>
            <td>Email: @Model.Email</td>
            <td colspan="3" valign="middle" align="right">@Html.ActionLink("Block", "BlockSeller", "Admin", new { id = Model.Id }, new { @class = "btn btn-primary btn" })</td>
        </tr>
        <tr>
            <td>Area: @Model.AreaName</td>
            <td colspan="3" valign="middle" align="right">@Html.ActionLink("Unblock", "UnblockSeller", "Admin", new { id = Model.Id }, new { @class = "btn btn-primary btn" })</td>

        </tr>
    </tbody>
</table>

