@model IEnumerable<Pickup_Entity.Product>

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
}

<h2>Invoice</h2>
@{ 
    int sum = 0;
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Remove", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>

    sum += item.Price;
}

</table>
<div>
    <b>Total: @sum</b>
</div>

<div>
    <b>Make Payment of @sum ?</b>
</div>
@Html.ActionLink("YES", "Payment", "Cart", new { @class = "btn btn-primary" })
@Html.ActionLink("No", "Index", "Home", new { @class = "btn btn-primary" })
