@model IEnumerable<Pickup_Entity.Product>

@{
    ViewBag.Title = "MyCart";

    if (Session["USER"]==null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    else if (Session["USER"].ToString() == "Buyer")
    {
        Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
    }

    else if (Session["USER"].ToString() == "Seller")
    {
        Layout = "~/Views/Shared/_LayoutSeller.cshtml";
    }

}

<h2>MyCart</h2>
@{ 
    int sum = 0;
}
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatagoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            sum += item.Price;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatagoryName)
                </td>
                <td>
                    @Html.ActionLink("Remove", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>
<div><b>Total: @sum</b></div>

@Html.ActionLink("Check Out", "CheckOut", "Cart", null, new { @class = "btn btn-primary" })
