@model IEnumerable<Pickup_Entity.Product>

@{
    ViewBag.Title = "MyPurchase";
    Layout = "~/Views/Shared/_LayoutBuyer.cshtml";
}

<h2>MyPurchase</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index", "Buyer", new { @id = Session["USERID"] }, new { @class = "btn btn-primary" })
</div>
