@model Pickup_Entity.Product
    <table style="border: 1px solid black; width:400px;">
        <tr>
            <td>
                <image alt="Photo"></image>
            </td>
                
            <td>
                <table align="center">
                    <tr>
                        <td><b>Product:</b></td>
                        <td>@Model.ProductName</td>
                        <td align="right" colspan="3">
                            @Html.ActionLink("Add To Cart", "AddToCart", new { id = Model.Id }, new { @class = "btn btn-primary btn" })
                        </td>
                    </tr>
                    <tr>
                        <td><b>Price:</b></td>
                        <td>@Model.Price</td>
                    </tr>
                    <tr>
                        <td><b>Catagory:</b></td>
                        <td>@Model.CatagoryName</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


@*<div class="card" style="width: 20rem;">
    <img class="card-img-top" src="#" alt="Photo">
    <div class="card-body">
        <h4 class="card-title">@Model.ProductName</h4>
        <p class="card-text">Price: @Model.Price</p>
        <p class="card-text">Catagory: @Model.CatagoryName</p>
        <a href="#" class="btn btn-primary">Details</a>
    </div>
</div>*@

