<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pickup.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pickup.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (Session["USER"].ToString() == "Buyer")
                    {
                        <li>@Html.ActionLink("My Cart", "MyCart", "Home")</li>
                        <li>@Html.ActionLink("Profile", "Index", "Buyer", new { id = Session["USERID"] }, null)</li>
                    }

                    @if (Session["USER"].ToString() == "Seller")
                    {
                        <li>@Html.ActionLink("Profile", "Index", "Seller", new { id = Session["USERID"] }, null)</li>
                    }

                    @if (Session["USER"].ToString() == "Admin")
                    {
                        <li>@Html.ActionLink("Admin Panel", "Index", "Admin", new { id = Session["USERID"] }, null)</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-3 sidebar">
                <h2>Select Catagory</h2>
                <ul class="nav nav-tabs nav-stacked" id="cat">
                    <li>@Html.ActionLink("Men Cloths","Catagory",new { id = 1}, new { @class = "btn btn-primary btn-large" })</li>
                    <li>@Html.ActionLink("Women Cloths", "Catagory", new { id = 2 }, new { @class = "btn btn-primary btn-large" })</li>
                    <li>@Html.ActionLink("Electronics", "Catagory", new { id = 3 }, new { @class = "btn btn-primary btn-large" })</li>
                    <li>@Html.ActionLink("Home Appliences", "Catagory", new { id = 4 }, new { @class = "btn btn-primary btn-large" })</li>
                </ul>
            </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SQL Ninjas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
