<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pickup.com (Admin)</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pickup.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log Out", "Logout", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
    @*<div class="col-xs-3 sidebar">
        <h2>Select Catagory</h2>
        <ul class="nav nav-tabs nav-stacked" id="cat">
            <li>@Html.ActionLink("Create Admin", "Create", "Admin", null, new { @class = "btn btn-primary btn-large" })</li>
            <li>@Html.ActionLink("B", "", new { id = 2 }, new { @class = "btn btn-primary btn-large" })</li>
            <li>@Html.ActionLink("C", "", new { id = 3 }, new { @class = "btn btn-primary btn-large" })</li>
            <li>@Html.ActionLink("D", "", new { id = 4 }, new { @class = "btn btn-primary btn-large" })</li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 sidebar">
                <h3>Sidebar</h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li>@Html.ActionLink("Create Admin", "Create", "Admin", null, new { @class = "btn btn-primary btn-large" })</li>
                    <li>@Html.ActionLink("View Buyers", "BuyersList", "Admin", null, new { @class = "btn btn-primary btn-large" })</li>
                    <li>@Html.ActionLink("View Sellers", "SellersList", "Admin", null, new { @class = "btn btn-primary btn-large" })</li>
                    <li>@Html.ActionLink("View Products", "ProductsList", "Employee", null, new { @class = "btn btn-primary btn-large" })</li>
                </ul>
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
    </div>

        <footer>
            <p>&copy; @DateTime.Now.Year - SQL Ninjas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
